* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;;
  }
}

body {
  font-size: 32px;
  font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 500px;
    max-height: 50vh;
}

.padding-left {
  padding-left: 100px;
}

.padding-right {
  padding-right: 100px;
}

.padding-top {
  padding-top: 50px;
}

.blue {
  color: #c6b291;
  background-color: #3b4c5c;
}

.white {
  background-color: #eee8ce;
  color: #2b3743;
}

.inline {
  display: inline;
}

h1 {
  width: 50vw;
  margin-top: 100px;
  font-weight: 500;
}

h2 {
  margin-bottom: 30px;
}

h1, h2 {
    font-family: serif;
}

.title-description {
    color: white;
    letter-spacing: 1px;
}

.wiki-button {
  margin-top: 50px;
}

.wiki-button > a {
    font-size: 16px;
    background-color: #b2955f;
    padding: 20px;
    width: 250px;
    border-radius: 50px;
}

a {
  text-decoration: none;
}

.wiki-button > a {
    color: white;
}

section {
  height: 1000px;
  max-height: 70vh;
}

#early-life {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header-photo {
  height: 70vh;
  width: auto;
  max-width: 40vw;
  margin-top: 0;
  border-bottom-left-radius: 40%;
}

.max-width40 {
  max-width: 40vw;
}

#change-text {
  position: absolute;
  opacity: 0;
}

#early-paragraph-two {
  display: none;
}

#change-text:checked ~ .checkbox-hack-container #early-paragraph-one {
  display: none;
}

#change-text:checked ~ .checkbox-hack-container #early-paragraph-two {
  display: block;
}

#quotes {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#quote-photo {
  max-height: 100%;
  position: relative;
  border-top-right-radius: 50%;
  top: -300px;
  right: 200px;
}

#radioactivity {
  background: linear-gradient(to right, #253646 35%, #74715e 50%, #99865b 70%, #b49c61 100%);
  color: whitesmoke;
  display: flex;
  gap: 3%;
}

#radioactivity-photo {
  max-height: 90%;
  border-radius: 5%;
  width: auto;
}

.note {
  font-size: 1.5rem;
  margin-top: 20px;
}

.figure-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.figure-wrapper p {
  padding: 0px 20px;
  text-align: justify;
}

.figure-wrapper > figure > img {
  border-radius: 5%;
}

.align-center {
  text-align: center;
}

#legacy .wrapper {
  display: flex;
  gap: 30px;
}

#legacy > .wrapper > #text-wrapper {
  display: flex;
  flex-direction: column;
}

#legacy img {
  border-radius: 5%;
}

#legacy > .wrapper > .text-wrapper > .quotes > p::before {
  content: "\f10d";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  padding-left: 30px;
}